#shape{
    border-radius: 1rem;
    display: block;
    margin: 0 auto;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    background: burlywood;
    padding: 1rem;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
nav ul li {
    display: inline;
}
nav ul li {
    color: white;
    text text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}
nav ul i a:hover{
    background-color: #575757;
    border-radius: 5px;
}
hr {
    border-width: 5px;
    border-style: inherit;
}
.about-section{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 50px 100px;
}
.left, .right{
    width: 50%;
}
.about-section h3 {
    margin-bottom: 20px;
}
.about-section ul {
    padding-left: 20px;
}
.about-text{
    max-width: 800px;
    margin: 40px auto;
    line-height: 1.7;
    text-align: center;
}
#biodata{
    text-align: center;
    width: 70%;
    margin:auto;
}